.app {
    text-align: center;
    margin-top: 100px;
    margin-bottom: 50px;
}

input {
    width: 60px;
    height: 60px;
    margin: 10px;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
}

input:focus {
    outline-color: blue;
}

button {
    height: 60px;
    width: 150px;
    font-size: 20px;
    font-weight: bold;
    background-color: purple;
    border: none;
    color: #fff;
    cursor: pointer;
}

.container {
    margin: 50px;
}

.error {
    border: 1px solid red;
}